body {
    font-family: Arial, Helvetica, sans-serif;
  }
  nav li {
    border: 3px white solid;
    width: 10rem;
    background-color: green;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    
  }
  
  nav a:hover {
    background-color: white;
    color: red;
    
  }
  nav ul {
    list-style-type: none;
    border: 3px dotted black;
    padding: 0;
    margin: 0;
    
  }
  
  nav a {
    text-decoration: none;
    color: white;
    display: block;
    
  }
  
  h1, p {font-family: 'Kalam', cursive;
  }